.hy-message {
  position: fixed;
  box-shadow: 0 0 4px #cccccc;
  top: 70px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  white-space: nowrap;
  animation: message-fadein 0.2s;
  transition: all 0.2s;
}

@keyframes message-fadein {
  0% {
    top: 30px;
    opacity: 0;
  }
  100% {
    top: 70px;
    opacity: 1;
  }
}

.hy-message .hy-message-content {
  font-size: 14px;
  padding: 6px 14px;
  border-radius: 4px;
}

.hy-message .hy-message-content .iconfont {
  font-size: 22px;
  margin-right: 4px;
}

.hy-message-success {
  color: #19be6b;
  border: 1px solid #19be6b;
}
.hy-message-error {
  color: #ed4014;
  border: 1px solid #ed4014;
}
.hy-message-warning {
  color: #ff9900;
  border: 1px solid #ff9900;
}